<div class="grid">

  <div class="col-12">
    <div class="grid">
      <div class="col-fixed" style="width:100px">
        <div class="text-center p-3 border-round-sm  ">
          <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Logo</a>
        </div>
      </div>

      <div class="col">
        <div class="text-center p-3 border-round-sm  ">Application Portal</div>
      </div>

      <div class="col-fixed" style="width:100px">
        <div class="text-center p-3 border-round-sm ">Login</div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="grid">

      <div class="col-fixed" style="width:300px">
        <div class="text-left p-3 border-round-sm ">
          <a routerLink="/agents" routerLinkActive="active" ariaCurrentWhenActive="page">Agents</a>
        </div>
      </div>

      <div class="col">
        <div class="text-center p-3 border-round-sm  ">

          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</div>


