<p-card class="card styled-box-green shadow-2">

  <div class="grid" >

    <div class="col-2">
      <div class="text-left">
        <p-avatar
          icon="pi pi-microchip"
          [pTooltip]="agent.instanceId"
          styleClass=""
          [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
          shape="circle"
        />
      </div>
    </div>
    <div class="col-8">
      <div class="text-left">
        {{ agent.host }}
      </div>
    </div>

    <div class="col-2">
      <div class="text-right">
        <i class="pi pi-spin pi-cog" style="font-size: 2rem; color: #0de60d"></i>
      </div>
    </div>

    <div class="col-2">
      <div class="text-left">
        OS
      </div>
    </div>
    <div class="col-10">
      <div class="text-left flex-shrink-0">
        {{ agent.metadata["os.name"] }} ver.{{ agent.metadata["os.version"] }}
      </div>
    </div>

    <div class="col-2">
      <div class="text-left border-round-sm">
        CPU
      </div>
    </div>
    <div class="col-10">
      <div class="text-left border-round-sm ">
        <!--        {{ agent.payload.metadata["cpu.model"] }}-->
        {{ agent.metadata["cpu.name"] }}
        {{ agent.metadata["cpu.frequency"]/(1000*1000*1000) }} GHz
        &#64; {{ agent.metadata["cpu.cores"] }} Cores
      </div>
    </div>

    <div class="col-2">
      <div class="text-left border-round-sm">
        GPU
      </div>
    </div>
    <div class="col-10">
      <div class="text-left border-round-sm ">
        {{ agent.metadata["gpu0.vendor"] }}
        {{ agent.metadata["gpu0.name"] }}
        {{ agent.metadata["gpu0.frequency"]/(1000*1000*1000) }} GHz
        &#64; {{ agent.metadata["gpu0.version"] }}
      </div>
    </div>

    <div class="col-2">
      <div class="text-left border-round-sm">
        RAM
      </div>
    </div>
    <div class="col-8">
      <div class="text-left border-round-sm ">
        <p-meterGroup [value]="memoryUsageBoard" />
      </div>
    </div>
    <div class="col-2">
      <div class="text-right border-round-sm ">
        {{mem_current/1024/1024/1024 | number: '1.0-4'}} GB
      </div>
    </div>

    <div class="col-2">
      <div class="text-left border-round-sm">
        CPU Load
      </div>
    </div>
    <div class="col-8">
      <div class="text-left border-round-sm ">
        <p-meterGroup [value]="cpuUsageBoard" />
      </div>
    </div>
    <div class="col-2">
      <div class="text-right border-round-sm ">
        {{current_cpu_load*100 | number: '1.0-1'}} %
      </div>
    </div>
  </div>

</p-card>
